MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=sneaker_flash
MYSQL_USER=sneaker
MYSQL_PASSWORD=sneaker_dev
MYSQL_PORT=13306

REDIS_PASSWORD=123456
REDIS_PORT=16379

KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=19092
KAFKA_NUM_PARTITIONS=3
KAFKA_TOPIC=seckill_orders
KAFKA_DLQ_TOPIC=seckill-order-dlq

KAFKA_UI_PORT=8080
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_PASSWORD=admin
